<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>

    <h1>Cocteles</h1>

    <main>

        <article>
            <div class="image-container">
                <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Bebida">
            </div>

            <h2>Nombre</h2>
            <span>Nombre:</span>
        </article>

        <article>
            <div class="image-container">
                <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Bebida">
            </div>

            <h2>Nombre</h2>
            <span>Nombre:</span>
        </article>

        <article>
            <div class="image-container">
                <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Bebida">
            </div>

            <h2>Nombre</h2>
            <span>Nombre:</span>
        </article>

        <article>
            <div class="image-container">
                <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Bebida">
            </div>

            <h2>Nombre</h2>
            <span>Nombre:</span>
        </article>

        <article>
            <div class="image-container">
                <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Bebida">
            </div>

            <h2>Nombre</h2>
            <span>Nombre:</span>
        </article>

        <article>
            <div class="image-container">
                <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Bebida">
            </div>

            <h2>Nombre</h2>
            <span>Nombre:</span>
        </article>
    </main>

    <script src="index.js"></script>

</body>
</html>